

<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Delete Order</h1>

        <mat-form-field class="fullWidth">
            <input [(ngModel)]='order.quantity' name="quantity"
            [disabled] = "true"
             matInput>
        </mat-form-field>

        <mat-form-field class="fullWidth">
            <input [(ngModel)]='order.discount' name="discount"
            [disabled] = "true"
             matInput>
        </mat-form-field>


        <button (click)="delete()" class="fullWidth mat-elevation-z4"
        mat-flat-button color="primary">Delete Order</button>
        <button routerLink="../../" class="fullWidth mat-elevation-z4"
        mat-stroked-button color="warn">Exit</button>
    </form>
</div> 