

<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Delete User</h1>

        <mat-form-field class="fullWidth">
            <input [(ngModel)]='user.email' 
            name="email" 
            [disabled] = "true"
             matInput>
        </mat-form-field>

        <mat-form-field class="fullWidth">
            <input [(ngModel)]='user.password' 
            name="password" 
            [disabled] = "true"
             matInput>
        </mat-form-field>


        <button (click)="delete()" class="fullWidth mat-elevation-z4" 
        mat-flat-button color="primary">Delete User</button>
        <button routerLink="../../" class="fullWidth mat-elevation-z4" 
        mat-stroked-button color="warn">Exit</button>
    </form>
</div>