.container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
  }

/* Estilo para aumentar o tamanho do ícone */
.larger-icon mat-icon {
    /* Define o tamanho do ícone. Você pode ajustar o valor conforme necessário */
    font-size: 303px;
  }

.buttom {
  width: 100%;
}

h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.edit {
  color: rgb(43, 178, 220);
}

.delete {
  color: rgb(255, 0, 0);
}

/* Estilo para a moldura verde ao redor do ícone add to cart */
.add_shopping_cart {
  border: 2px solid green;
  padding: 5px;
  border-radius: 50%; /* Isso tornará a moldura circular */
  cursor: pointer; /* Altera o cursor ao passar por cima */
}

/* Estilos adicionais para melhorar a aparência do ícone */
.add_shopping_cart:hover {
  background-color: green;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

  